	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			Sales
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		<!-- dropdown menu links -->
			<li class="nav-header"><font SIZE=3>Order</font></li>
				<li><a tabindex="-1" href="#">View</a></li>
				<li><a tabindex="-1" href="#">New</a></li>
				<li><a tabindex="-1" href="#">Edit</a></li>
				<li><a tabindex="-1" href="#">Inactive</a></li>
				<li><a tabindex="-1" href="#">Change Status</a></li>
			<li class="divider"></li>
			<li class="nav-header"><font SIZE=3>Payment</font></li>
				<li><a tabindex="-1" href="#">View</a></li>
				<li><a tabindex="-1" href="#">New</a></li>
				<li><a tabindex="-1" href="#">Edit</a></li>
				<li><a tabindex="-1" href="#">Inactive</a></li>
		</ul>
	</div>
	
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			Inventory
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		<!-- dropdown menu links -->
			<li><a tabindex="-1" href="#">View</a></li>
			<li><a tabindex="-1" href="#">Check OH</a></li>
			<li><a tabindex="-1" href="#">New</a></li>
			<li><a tabindex="-1" href="#">Edit</a></li>
			<li><a tabindex="-1" href="#">Inactive</a></li>
		</ul>
	</div>
	
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			Customer
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		<!-- dropdown menu links -->
			<li class="nav-header"><font SIZE=3>Client</font></li>
				<li><a tabindex="-1" href="#">View</a></li>
				<li><a tabindex="-1" href="#">New</a></li>
				<li><a tabindex="-1" href="#">Edit</a></li>
				<li><a tabindex="-1" href="#">Inactive</a></li>
			<li class="divider"></li>
			<li class="nav-header"><font SIZE=3>Patient</font></li>
				<li><a tabindex="-1" href="#">View</a></li>
				<li><a tabindex="-1" href="#">New</a></li>
				<li><a tabindex="-1" href="#">Edit</a></li>
				<li><a tabindex="-1" href="#">Inactive</a></li>
			<li class="divider"></li>
			<li class="nav-header"><font SIZE=3>Location</font></li>
				<li><a tabindex="-1" href="#">View</a></li>
				<li><a tabindex="-1" href="#">New</a></li>
				<li><a tabindex="-1" href="#">Edit</a></li>
				<li><a tabindex="-1" href="#">Inactive</a></li>
			
		</ul>
	</div>
		
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			Purchase
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		<!-- dropdown menu links -->
			<li class="nav-header"><font SIZE=3>Supplier</font></li>
				<li><a tabindex="-1" href="#">View</a></li>
				<li><a tabindex="-1" href="#">New</a></li>
				<li><a tabindex="-1" href="#">Edit</a></li>
				<li><a tabindex="-1" href="#">Inactive</a></li>
			<li class="divider"></li>
			<li class="nav-header"><font SIZE=3>Order</font></li>
				<li><a tabindex="-1" href="#">View</a></li>
				<li><a tabindex="-1" href="#">New</a></li>
				<li><a tabindex="-1" href="#">Edit</a></li>
				<li><a tabindex="-1" href="#">Inactive</a></li>
			<li class="divider"></li>
			<li class="nav-header"><font SIZE=3>Receiver</font></li>
				<li><a tabindex="-1" href="#">View</a></li>
				<li><a tabindex="-1" href="#">New</a></li>
				<li><a tabindex="-1" href="#">Edit</a></li>
				<li><a tabindex="-1" href="#">Inactive</a></li>
			<li class="divider"></li>
			<li class="nav-header"><font SIZE=3>Payment</font></li>
				<li><a tabindex="-1" href="#">View</a></li>
				<li><a tabindex="-1" href="#">New</a></li>
				<li><a tabindex="-1" href="#">Edit</a></li>
				<li><a tabindex="-1" href="#">Inactive</a></li>
		</ul>
	</div>
	
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			Delivery
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		<!-- dropdown menu links -->
			<li><a tabindex="-1" href="#">View</a></li>
			<li><a tabindex="-1" href="#">New</a></li>
			<li><a tabindex="-1" href="#">Edit</a></li>
			<li><a tabindex="-1" href="#">Inactive</a></li>
		</ul>
	</div>
	
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			Employee
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		<!-- dropdown menu links -->
			<li><a tabindex="-1" href="#">View</a></li>
			<li class="divider"></li>
			<li><a tabindex="-1" href="#">New</a></li>
			<li><a tabindex="-1" href="#">Edit</a></li>
			<li><a tabindex="-1" href="#">Inactive</a></li>
		</ul>
	</div>