		<div class="container">
			<form class="form-signin" action="?page=validlogin" method="post">
				<h2 class="form-signin-heading">Please sign in</h2>
				<input type="text" class="form-control" placeholder="Login Name" autofocus="" name="username">
				<input type="password" class="form-control" placeholder="Password" name="password">
				<label class="checkbox">
					<input type="checkbox" value="remember-me"> Remember me
				</label>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</form>
		</div>
